<%- include outBase.ejs %>

<h1>PANFLETO ELETRÔNICO</h1>

<h2>Recuperar Senha</h2>

<div class="w3layoutscontaineragileits">

    <% if (locals.error) { %>
	<div class="alert alert-danger">
		<strong>Atenção!</strong>
		<ul>
            <% Object.keys(error.message).forEach( function (idx) { %>
			<li>
                <%= error.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

    <% if (locals.succezz) { %>
	<div class="alert alert-info">
		<ul>
            <% Object.keys(succezz.message).forEach(function (idx) { %>
			<li>
                <%= succezz.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

	<form action='/pwdReminder' method='post'>
		<input type="text" placeholder="Email" name="email" value='<%= data.email %>' required>

		<div class="row aitssendbuttonw3ls">
			<div class="col-md-6">
				<input type="submit" value="Enviar">
			</div>

			<div class="col-md-6">
				<p><a href="/login">Cancelar<span></span></a></p>
			</div>
		</div>
	</form>
</div>

<div class="w3footeragile">
	<p> Panfleto Eletrônico <a target="_blank"></a></p>
</div>
