<%- include outBase.ejs %>

<div class="row">

	<h1>PANFLETO ELETRÔNICO</h1>

	<h2>
		Bem vindo [nome do cliente],<br/>
	</h2>

	<div class="col-md-12" align='center'>
		<h3>
			Controles:
		</h3>
    <input type="submit" value="Meus Produtos" class="col-md-2 col-md-offset-1">
		<input type="submit" value="Meus cadastros" class="col-md-2 col-md-offset-1">
		<input type="submit" value="Alterar dados" class="col-md-2 col-md-offset-1">
	</div>

	<div class="col-md-12">
		<div>
			<h3>
				Cadastros:
			</h3>
			<input type="submit" value="Importar produtos" class="col-md-2 col-md-offset-1">
			<input type="submit" value="Cadastrar oferta" class="col-md-2 col-md-offset-1">
			<input type="submit" value="Cadastrar promoção" class="col-md-2 col-md-offset-1">
			<input type="submit" value="Cadastrar sorteio" class="col-md-1.5 col-md-offset-1">
		</div>
	</div>

</div>
