<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Panfletro Eletrônico</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Sleek Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Style --> <link rel="stylesheet" href="css/style1.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body background="images/background.jpg">

	<h1>PANFLETO ELETRÔNICO</h1>

	<h2>Acesse sua conta</h2>
	<div class="w3layoutscontaineragileits">
		<form action="#" method="post">
			<input type="text" Name="username" placeholder="Usuário" required="">
			<input type="password" Name="password" placeholder="Senha" required="">
			<!-- <ul class="agileinfotickwthree">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>Remember me</label>
				</li>
			</ul> -->

			<div class="aitssendbuttonw3ls">
				<div>
					<input type="submit" value="LOGIN">
				</div>

				<div>
					<p><a href="/cadastro">CADASTRAR<span>→</span></a></p>
				</div>
			</div>
		</form>
	</div>

	<div class="w3footeragile">
		<p> Pafleto Eletrônico <a target="_blank">
	</div>

</body>
<!-- //Body -->

</html>
