<%- include outBase.ejs %>

<h1>PANFLETO ELETRÔNICO</h1>

<h2>Recuperar senha</h2>

<div class="w3layoutscontaineragileits">

	<% if (locals.error) { %>
	<div class="alert alert-danger">
		<strong>Atenção!</strong>
		<ul>
			<li>
				<%= error.message %>
			</li>
		</ul>
	</div>
	<% } %>

	<% if (locals.success) { %>
	<div class="alert alert-info">
		<ul>
			<li>
				<%= success.message %>
			</li>
		</ul>
	</div>
	<% } %>

	<form action='' method='post'>

		<input type="text" Name="email" placeholder="Email" required="" value='<%= data.email %>'>

		<div class="row aitssendbuttonw3ls">

			<div class="col-md-6">
				<input type="submit" value="Enviar">
			</div>

			<div class="col-md-6">
				<p><a href="/login">Cancelar<span></span></a></p>
			</div>
		</div>

	</div>


	</form>
</div>

<div class="w3footeragile">
	<p> Panfleto Eletrônico <a target="_blank"></a></p>
</div>
