<%- include outBase.ejs %>

<div class="row">
	<h1>PANFLETO ELETRÔNICO</h1>

	<h2 style="width: 40%" align="left">
		Bem vindo ao panfleto eletrônico,
		<br/>
		um portal web para suporte de supermercados
	</h2>

	<div class="col-md-6 col-md-offset-4" align='left'>
		<div>
			<h3>
				Nossos serviços:<br/>
				WEB
				<br/>
				-Cadastro de ofertas, promoções, sorteios, produtos<br/>
				-Consulta de ofertas, promoções, sorteios e produtos<br/>
				MÓVEL
				<br/>
				-Leitura por código de barra<br/>
				-Função carrinho<br/>
				-Conexão automática com rede do supermercado (caso disponível)<br/>
				-Consulta de ofertas, promoções, sorteios e produtos<br/>
			</h3>
		</div>
	</div>

</div>
